<h1>À propos</h1>

<p>
  Ce site est maintenu par <%= link_to "Guillaume Fayard", "https://pycolore.fr/", target: "_blank"%>.
  Le code source est disponble sur <%= link_to "Github", "https://github.com/Arkelis", target: "_blank" %>.
</p>
